{deps, [
    {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}},
    {timing, {git, "https://github.com/lpgauth/timing.git", {tag, "0.1.0"}}},
    {timothy, {git, "https://github.com/gnuvince/timothy.git", {tag, "v0.1.0"}}}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "./compile.sh"}]}.
