{deps, [
    {gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.7.2"}}},
    {timing, {git, "https://github.com/lpgauth/timing.git", {tag, "0.1.0"}}},
    {timothy, {git, "https://github.com/gnuvince/timothy.git", {tag, "v0.1.0"}}}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "./compile.sh"}]}.


{erl_opts, [
  {i, "./_build/default/plugins/gpb/include"},
  debug_info,
  warnings_as_errors
]}.

{gpb_opts, [
  {i, "priv/schemata"},
  include_as_lib,
  {nif, true},
  {o_nif_cc, "c_src"},
  {strings_as_binaries, true},
  {type_specs, true}
]}.

{port_env, [
  {"CXXFLAGS", "$CXXFLAGS -O3 $(pkg-config --cflags protobuf) -std=gnu++11"},
  {"LDFLAGS", "$LDFLAGS -O3 $(pkg-config --libs protobuf)"}
]}.

{port_specs, [
  {"priv/da_message.nif.so", [
    "c_src/da_message.nif.cc",
    "c_src/da_message.pb.cc"
  ]},
  {"priv/stvlist.nif.so", [
    "c_src/stvlist.nif.cc",
    "c_src/stvlist.pb.cc"
  ]}]}.

{plugins, [
  {rebar3_gpb_plugin, ".*",
    {git, "https://github.com/lrascao/rebar3_gpb_plugin.git", {tag, "2.8.1"}}},
  {pc, ".*",
    {git, "https://github.com/blt/port_compiler.git", {tag, "v1.9.1"}}}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]},
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.
